# Copiar este archivo como .env y llenar los valores para poder probar todo
ORACLE_CONNECTION=
JWT_KEY=
JWT_ISSUER=ApiVacunas
JWT_AUDIENCE=AndroidApp
JWT_EXPIRATION=24
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080