.env
**/user-secrets
**/bin
**/obj
**/Properties/launchSettings.json
**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.Staging.json
**/appsettings.Local.json   
**/appsettings.*.json
**/logs
**/log
**/wwwroot/logs
**/wwwroot/log